name: Build and Release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.24.3'

      - name: Cache Go modules
        uses: actions/cache@v3
        with:
          path: |
            ~/go/pkg/mod
            ./.cache/go-build
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Install dependencies
        run: go mod tidy

      - name: Build for Linux (amd64)
        run: GOOS=linux GOARCH=amd64 CGO_ENABLED=0 go build -ldflags "-w -s" -o dist/osssh-linux-amd64 cmd/osssh/osssh.go

      - name: Build for Linux (aarch64)
        run: GOOS=linux GOARCH=arm64 CGO_ENABLED=0 go build -ldflags "-w -s" -o dist/osssh-linux-arm64 cmd/osssh/osssh.go

      - name: Build for macOS (amd64)
        run: GOOS=darwin GOARCH=amd64 CGO_ENABLED=0 go build -ldflags "-w -s" -o dist/osssh-darwin-amd64 cmd/osssh/osssh.go

      - name: Build for macOS (aarch64)
        run: GOOS=darwin GOARCH=arm64 CGO_ENABLED=0 go build -ldflags "-w -s" -o dist/osssh-darwin-arm64 cmd/osssh/osssh.go

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: dist/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
